<template>
  <div id="app">
    <header>
      <ul class="nav">
        <li class="nav-item">Vuejs2 socketio vuex</li>
        <li class="nav-item"><router-link to="/">Home</router-link></li>
        <li class="nav-item"><router-link to="/counter">Contador</router-link></li>
        <li class="nav-item"><router-link to="/Agentes">Agentes</router-link></li>
      </ul>
    </header>
    <img id= "img" src="./assets/logo.png">
    <router-view/>
  </div>
</template>

<script>
import Footer from './components/Footer'
import Navigation from './components/Navigation'
import Counter from './components/Counter'
import Agentes from './components/Agentes'
import Agent from './components/Agent'

export default {
  name: 'App',
  components: {
    Footer,
    Navigation,
    Counter,
    Agentes,
    Agent
  }
}
</script>
<style>
  body {
    margin: 0;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 800px;
    margin: 20px auto;
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  img{
    display: block;
    margin: 0 auto;
  }

  header {
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #35495E;
    color: #ffffff;
  }

  header li {
    list-style: none;
    margin-top: 15px;
    float: left;
    margin-right: 25px;
  }
  header a {
    color: white;
  }
  header a:hover{
    color: #fff !important;
  }
</style>
