<template>
    <b-list-group>
      <agent v-for="(agentitem,index) in list" v-bind:key="agentitem.name" v-bind:agitem="agentitem" v-bind:index="index" ></agent>
    </b-list-group>
</template>

<script>
import agent from '@/components/Agent'
export default {
  name: 'agentes',

  components: {
    agent
  },
  methods: {
    increment () {
      this.$store.dispatch('socket_activate')
    },
    decrement () {
      this.$store.dispatch('socket_decrement')
    }
  },
  computed: {
    list () {
      return this.$store.state.agentelist.list
    }
  }

}
</script>
<style>
  body {
    font-family: Helvetica, sans-serif;
  }
  #app {
    width: 800px;
    margin: 30px auto;
  }
  #add-input {
    width: 750px;
    height: 35px;
    padding: 0 5px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
</style>
