
<template>

    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{agitem.name}} {{index}}
      <div v-if="agitem.active">
        <span class="badge badge-success">Running</span>
      </div>
      <div v-else>
        <span class="badge badge-danger">Stopped</span>
      </div>
      <div v-if="agitem.active">
        <button type="button" class="btn pull-right" @click="activate(index)" >Stop</button>
      </div>
      <div v-else>
        <button type="button" class="btn pull-right" @click="activate(index)" >Start</button>
      </div>
    </li>

</template>

<script>
export default {
  name: 'agent',
  props: {
    agitem: Object,
    index: Number
  },
  data () {
    return {
      checked: false
    }
  },
  methods: {
    activate (index) {
      if (!this.agitem.active) {
        this.$store.dispatch('socket_activate', index)
      } else {
        this.$store.dispatch('socket_desactivate', index)
      }
    }
  }
}
</script>

<style scoped>

</style>
