<template>
  <footer>
    You're doing great.  You have {{Agent.length}} friends.
  </footer>
</template>

<script>
/* eslint-disable indent,no-trailing-spaces */

  import Agent from '../aux/Agent'

  export default {
    data () {
      return {
        Agent: Agent.data.agents
      }
    }
  }
</script>

<style scoped>
  footer {
    background: #333;
    color: white;
    margin-top: 20px;
    padding: 20px;
    text-align: right;
    width:100%;
  }
</style>
