<template>
  <nav>
    <a href="#">Some Link</a>
    <a href="#">Some Other Link</a>
    <a href="#">Friends ({{Agent.length}})</a>
  </nav>
</template>

<script>
import Agent from '../aux/Agent'

export default {
  data () {
    return {
      Agent: Agent.data.agents
    }
  }
}
</script>

<style scoped>
  nav {
    background: #000077;
    color: white;
    margin-bottom: 20px;
    padding: 20px 10%;
    width:80%;
    text-align: center;
  }
  a {
    color: #fff
  }
</style>
